<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="">
    <title>Berners</title>
</head>
<body>
    <h1>El día que Tim Berners-Lee abrió al mundo la World Wide Web</h1>

    

    <p>La simple urgencia de conectar a científicos del mundo en una plataforma dio paso a una de las iniciativas más importantes en la historia de la humanidad: la creación de la World Wide Web.
        Cada 23 de agosto se festeja el Día del Internauta (Internaut Day en inglés), una forma de conmemorar el primer acceso público a la red creada por el ingeniero de software Tim Berners-Lee, quien cambió para siempre las comunicaciones.
        La apertura al mundo de la web ocurrió el 23 de agosto de 1991, luego de varios años de trabajo. Como empleado de la Organización Europea para la Investigación Nuclear (CERN por su sigla en inglés), Berners-Lee creó a mediados de los ’80 un sistema de hipertexto para compartir y unir el trabajo de los investigadores.
        Años después, el ingeniero británico se embarcó en el proyecto para establecer una comunicación entre un cliente y un servidor usando el protocolo HTTP. Fue lanzado el 6 de agosto de 1991, en exclusiva para los miembros de CERN, y el 23 de ese mismo mes fue abierto al público, dando vida a lo que hoy conocemos como la Web.
        Esa primera página web aún está disponible y en ella se declara que la intención de la World Wide Web es “dar acceso universal a un gran universo de documentos”. Asimismo, la interfaz era totalmente distinta a lo que se ve hoy: un fondo blanco y un texto en el que se explica qué es, cómo se usa y herramientas para sacarle provecho a la WWW.
        No se sabe quién fue la primera persona a acuñar la frase “Internet”, pero se cree que surgió a partir de la utilización de la frase “interconexión de redes”.
        Eso sí, “Internet” y “World Wide Web” son dos cosas distintas: Internet es una red masiva de ordenadores interconectados, mientras que la World Wide Web es cómo se puede acceder y compartir la información a través de ellos.
        De acuerdo al último recuento de 2015, alrededor de 3170 millones de personas utilizan o han tenido acceso a Internet, lo que equivale al 40% de la población mundial.
        </p>

        <p class="centrado">
            <img src="images/Tim-Berners-Lee.jpg" alt="image-Tim-Berners-Lee">
          </p>
    <a href="index">Inicio</a>
    

</body>
</html>