<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Margaret Hamilton: “La primera ingeniera de software”</h1>
    <p>Durante muchos años parecía que uno de los mayores hitos del siglo XX, la llegada del ser humano a la Luna, hubiera sido cosa de hombres. Y eso no es verdad. Fueron muchas las mujeres que hicieron posible los grandes avances de la carrera espacial. La mayoría de ellas han estado en el anonimato durante muchos años, pero por suerte, están saliendo a la luz…
        Una de esas mujeres olvidadas durante largo tiempo es nuestra protagonista de hoy. La mujer que acuñó el término “ingeniería de software”. Una visionaria de la programación informática. La persona que evitó el desastre durante el aterrizaje del Apolo XI. Margaret Hamilton, la primera ingeniera de software.</p>
    <img width="300px" src="/images/Margaret_Hamilton.jpg" alt="images Margaret_Hamilton_1995"><br>
    <a href="index">inicio</a>
</body>
</html>